@charset "utf-8";

html {
    /* ブラウザのデフォルトが16px                        */
    /* デフォルトの16pxの代わりに1emが10pxになるように調整 */
    font-size: 62.5%;
  }

body{
  line-height: 1.5;
  font-size: 1.6rem; /* 16px */
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  text-align: center;
  background-color: #000000;
  background-image: url(../img/backimg.jpg);
  /*linear-gradient(270deg, #0d0344 0%, #929090 74%);*/
}

header, main, footer, h1, h2, h3, p, div, table, .field, .btn-area, .filler01 {
    margin: 0.5em 0em 0em 0em;
    padding: 0.1em;
}
th, td {
    line-height: 1.2em;
    padding: 0.1em;
}

/*******************************************************/
/* 見出し                                              */
/*******************************************************/
h1 {
    color: rgb(102, 0, 143);
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    text-shadow: 0 5px 5px rgb(238, 238, 238);
    border-radius:  20px;
}
h2 {
    /* color: grey; */
    color: rgb(185, 177, 255);
    font-weight: 1000;
}

/*******************************************************/
/* メイン                                              */
/*******************************************************/
/* KEY 入力エリア */
.field01 {
  position: relative;
  height: 5em;
}
/* MEMO 入力エリア */
.field02 {
  position: relative;
  height: 10em;
}
/* ラベル */
label {
  position: absolute;
  left:0.5em;
  color: rgb(128, 215, 255);
  font-weight: 1000;
  text-shadow: 0 2px 10px rgb(238, 238, 238);
}

label::after{
  margin-left: 1.0em;
  padding: 1px 6px 1px 6px;
  border-radius: 4px;
  font-size: 0.6em;
  color: rgb(255, 255, 255);
  background-color: #c44;
  content: "必要";
}

/* ★自分でコーディングする！(code by yourself) ... 疑似要素「::after」を使って、「必須」の文字を定義する。*/

/* テキストエリア */
textarea{
  position: absolute;
  top: 2em;
  left: 3em;
}

/* ★自分でコーディングする！(code by yourself)...  疑似要素「::placeholder」を使って、textareaの文字の色を定義する。*/

/* ボタン */
.btn-area{
  margin-left:3em;
  text-align: left;
}
#save, #select {
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1em;
  background: linear-gradient(#0408f373 50%, #afeeee 100%);
  cursor: pointer; /*カーソルをポインターの形（かたち）にする*/
}

#del {
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1em;
  background: linear-gradient(#f30000ee 50%, #feffff 100%);
  cursor: pointer; 
}

#allClear {
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.3em;
  color: rgb(24, 24, 24);
  font-size: 1em;
  font-weight: 700;
  background: linear-gradient(#f3c600 50%, #feffff 100%);
  cursor: pointer; 
}



/********************************************************/
/* レスポンシブ対応　メディアクエリを使ってCSSを切り替える */
/* https://www.design-memo.com/coding/css-media-queries */
/********************************************************/
/* mobileのときのスタイル */
@media screen and (max-width: 480px) {
  /* ラベル */
  label {
    left:0.1em;
  }

  /* テキストエリア */
  textarea{
    left: 0.1em;
  }

  /* ボタン */
  .btn-area{
    margin-left:0.1em;
  }
  
  table{
    width: 100%;
    margin-left: 0.1em;
  }
  body{
    background-position: 60% 30%;
  }

  h1{
    color: rgb(45, 0, 63);
    font-size: 28pt;
  }
}



a:link, a:visited {
  color: white;
  padding: 4px 125px;
  text-decoration: none;
  display: inline-block;
  text-shadow: 1px 1px 1px rgba(1, 24, 31, 1);
  box-shadow: 0 2px 5px grey;
  border-radius: 0px 0px 10px 10px ;
  background: linear-gradient(#0408f373 50%, #afeeee 100%);
}

a:hover, a:active {
  background-color: rgb(66, 0, 207);
}


/*******************************************************/
/* class=back                                         */
/* id=btn99 backボタン                                 */
/*******************************************************/
.back{
  text-align: left;
}
#btn99{
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1.5em;
  background: rgb(26, 212, 212);
  cursor: pointer; /*カーソルをポインターの形（かたち）にする*/
}

table{
  table-layout: fixed;
  width: 80%;
  margin-left: 2em;
  border-collapse: collapse;
  opacity: 0.9;
}

table th{
  background: linear-gradient(#4400ff73 50%, #4f52fa 100%);
}

table th, table td{
  padding: 0.5em 0;
  border: solid 0.1em gray;
  color: lightgray;
  text-align: center;
  font-size: 12pt;
}

table tr{
  background: rgb(48, 48, 90);
}

.width5{
  width: 5%;
}

.width10{
  width: 15%;
}

.width30{
  width: 35%;
}

.width60{
  width: 60%;
}

#swaltxt{
  color: rgb(255, 255, 255);
}

.swal2-border-radius { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; }
